@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


html body {
    height: 100%;
    width: 100%;
}

.carousel-inner img {
    width: 100%;
    max-height: 40rem;
}
#fixed  {
    background-image: url("./back.jpg");
     height: 600px;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
}
figure {
      margin: 0;
   }
.fun {
    width: 100%;
    margin-bottom: 2rem;
}

.padding {
    padding-bottom: 2rem;
}
.social a {
    font-size: 4rem;
    padding: 3rem;
}
 .fa-google-plus-g {
     color: orangered;

 }
 .fa-instagram {
color: purple;
 }
 .fa-facebook {
color: darkblue;
 }
 .fa-twitter {
color: deepskyblue;
 }
 .fa-youtube {
color: darkred;
 }

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}
hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
}

h1 {
    margin-bottom: 40px
}

label {
    color: #333
}



.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}